In [1]:
import pandas as pd # importing pandas library

In [3]:
data = pd.read_csv('data.csv')  # reading the csv file using read_csv function
data.shape

(1143, 15)

In [68]:
print(data.columns) # checking the column names

Index(['ad_id', 'reporting_start', 'reporting_end', 'campaign_id',
       'fb_campaign_id', 'age', 'gender', 'interest1', 'interest2',
       'interest3', 'impressions', 'clicks', 'spent', 'total_conversion',
       'approved_conversion'],
      dtype='object')

In [69]:
data.isnull().sum() # checking is there any null values present or not
# here last two columns have the null values but for this assignment tasks those columns are not need so iam ignoring.

ad_id                    0
reporting_start          0
reporting_end            0
campaign_id              0
fb_campaign_id           0
age                      0
gender                   0
interest1                0
interest2                0
interest3                0
impressions              0
clicks                   0
spent                    0
total_conversion       382
approved_conversion    382
dtype: int64

#### calculate total impressions for the age group 30-34,

In [18]:
# giving condition of age group it returns the true impression values series using sum
total_impressions = sum(data[data.age == '30-34']['impressions']) 
print('impressions: ', total_impressions)

impressions:  35678593.0

##  get all ad_ids for every campaign_id (a campaign contains multiple ads)

In [19]:
data.head()

,ad_id,reporting_start,reporting_end,campaign_id,fb_campaign_id,age,gender,interest1,interest2,interest3,impressions,clicks,spent,total_conversion,approved_conversion
0,708746,17/08/2017,17/08/2017,916,103916,30-34,M,15,17,17,7350.0,1,1.43,2.0,1.0
1,708749,17/08/2017,17/08/2017,916,103917,30-34,M,16,19,21,17861.0,2,1.82,2.0,0.0
2,708771,17/08/2017,17/08/2017,916,103920,30-34,M,20,25,22,693.0,0,0.00,1.0,0.0
3,708815,30/08/2017,30/08/2017,916,103928,30-34,M,28,32,32,4259.0,1,1.25,1.0,0.0
4,708818,17/08/2017,17/08/2017,916,103928,30-34,M,28,33,32,4133.0,1,1.29,1.0,1.0

In [86]:
ids = data.campaign_id.unique()
for i in ids:
    print(f'id->{i}: values-> {data[data.campaign_id == i]["ad_id"]}')

id->916: values-> 0     708746
1     708749
2     708771
3     708815
4     708818
5     708820
6     708889
7     708895
8     708953
9     708958
10    708979
11    709023
12    709038
13    709040
14    709059
15    709105
16    709115
17    709124
18    709179
19    709183
20    709320
21    709323
22    709326
23    709327
24    709328
25    709455
26    709544
27    709614
28    709756
29    709761
30    709899
31    709901
32    710045
33    710088
34    710360
35    710477
36    710480
37    710571
38    710617
39    710623
40    710628
41    710682
42    710763
43    710836
44    710867
45    710880
46    710961
47    710968
48    711217
49    711623
50    711764
51    711785
52    711877
53    712052
Name: ad_id, dtype: int64
id->936: values-> 54     734209
55     734210
56     734215
57     734243
58     734266
        ...
513    951941
514    952001
515    952031
516    952080
517    952100
Name: ad_id, Length: 464, dtype: int64
id->1178: values-> 518    1121091
519    1121092
520    1121094
521    1121095
522    1121096
        ...
756    1121585
757    1121589
758    1121590
759    1121592
760    1121593
Name: ad_id, Length: 243, dtype: int64
id->45-49: values-> 761     1121594
762     1121597
763     1121598
764     1121599
765     1121601
         ...
1138    1314410
1139    1314411
1140    1314412
1141    1314414
1142    1314415
Name: ad_id, Length: 144, dtype: int64
id->30-34: values-> 824     1121741
825     1121742
826     1121745
827     1121746
828     1121749
         ...
1098    1314364
1099    1314365
1100    1314366
1101    1314367
1102    1314368
Name: ad_id, Length: 99, dtype: int64
id->35-39: values-> 901     1121889
902     1121890
903     1121891
904     1121894
905     1121895
         ...
1110    1314381
1111    1314382
1112    1314383
1113    1314384
1114    1314385
Name: ad_id, Length: 68, dtype: int64
id->40-44: values-> 946     1122039
947     1122040
948     1122041
949     1122043
950     1122044
         ...
1124    1314395
1125    1314396
1126    1314397
1127    1314398
1128    1314400
Name: ad_id, Length: 71, dtype: int64

## get total clicks where report_start between dates 19/08/2017 to 22/08/2017 (both inclusive)

In [44]:
start = '19/08/2017'
end = '22/08/2017'
d = (data.reporting_start >= start) & (data.reporting_end <= end)
total_clicks = sum(data[d]['clicks'])
print('total clicks: ', total_clicks)

total clicks:  3763